body {

margin:0;
padding:0;
background-image:url('fondo.jpg');
background-size:cover;
background-position:center;
font-family: Arial, sans-serif;
font-size:20px;
color:#ffffff;
text-align:center;
text-decoration: none;
}


.button {
  margin: 0%;
  height: auto;
  background: black;
  padding: 0;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

a{
  text-decoration: none;
}

.button {
  --border-right: 0px;
 --animation-color: #ffd700;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "cursive;";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  text-decoration: none;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
  text-decoration: none;
}

.boton1 {
  background: black;
  color: darkred;

}


.contenido {
padding:0px;
}

          h1 {
            color: #ffffff;
            font-family:  monospace;
            font-size: 50px;
            
             }
           body {
            font-family: fantasy;
            margin: 0;
            padding: 0;
            background-size: cover;
            background-position: center;
            background-color:#000000;
            text-align: center;
             }
            img {
              width:300px;
              height: auto;
              display: inline-flex;
              background-position:center;
              margin: 0 auto;
             }
            .container {
              max-width: 700px;
              margin: 0px auto;
              padding: 00px;
              color: #ffffff;
             }
             .product {
               border: 2px solid #ccc;
               background-color: #ffffff
               margin-bottom: 20px;
               padding: 10px;
               border: none;
             }
        
        .zoom-effect img {
transition: transform 0.5s ease;
}

.zoom-effect img:hover {
transform: scale(1.15);
}