#main-header {
	background: #000000;
	color: #000000;
	height: 77px;
	text-align: center;

	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
	/*arreglar el header para verse delante del rotador*/
}	
	#main-header a {
		color: #ffffff;
	}
	
	#pinn{
		width: calc(18vh - 17px );
		height: 15%;
		position: fixed;
		
	}
	.mama{
		display: flex;
		color: #fff;
		position: fixed;
        font-size: 13px;
        height: 100%;
        width: 100%;
        margin: 10px;
        padding: 10px;
        font-family:'Poppins', sans-serif ;
        opacity: 0.4;

	}

#logo-header {
	text-decoration: none;
	float: center;
	padding: 15px 0 0 20px;
	text-align: flex;
	align-items: center;
	transition: 0.5s;
	opacity: 0.5;
}
#logo-header:hover{
	opacity: 1;

}
#header-button{
	align-items: center;
	width: 50px;
	height: 50%;
	padding: 0;
}
	
	
	#logo-header .site-name {
		display: block;
		 font-family: 'Poppins', sans-serif;
		font-weight: 900;
		font-size: 1.0em;
		color:#fff;
		text-align: right;
		
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #009915;
	}

	
#main-footer {
	background: #682300;
	color: white;
	text-align: center;
	padding: 10px;
	margin-top: 20px;
}


 /*slider- rotador- baner*/

.baner{
	position: relative;
	width: 100%;
	height: calc(100vh - 77px );/*100 vh es para cambiar el tamaño del rotador*/
	background-color: blue;
	background-size: cover;
	background-position: center;
	transition: all .1s ease-in-out;
    background-image: url('../img/foto 1.jpg');
    animation: baner 20s infinite linear;

}
.baner-content{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	background-color: rgba(0, 22, 40, .5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.baner-content h1{
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
	font-size: 40px;
	text-align: center;
	font-family: Garamond;/*cambiar por tipografia mas formal*/
}
.baner-content a{
	text-decoration: none;
	color: #fff;
	padding: 5px 10px;
	border: 1px solid #FFF;
	text-transform: uppercase;
	transition: all .1s ease-in-out;
}
.baner-content a:hover{
	background-color: #fff;
	color: #333;

}
@keyframes baner{
	0%{background-image: url('../img/foto 1.jpg');}
	25%{background-image: url('../img/foto 1.jpg');}
	26%{background-image: url('../img/foto 2.jpg');}
	50%{background-image: url('../img/foto 2.jpg');}
	51%{background-image: url('../img/foto 3.jpeg');}
	75%{background-image: url('../img/foto 3.jpeg');}
    76%{background-image: url('../img/foto 4.jpg');}
	100%{background-image: url('../img/foto 4.jpg');}


}

body {
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
	background: #181818; /* Cambiado a gris oscuro */
	font-size: 1.3em;
	line-height: 1.5em;
	text-align: center;
	padding-top: 80px;
}
.header{
	height: 60vh !important ;
	background: url(img/taza pino.jpg) no-repeat center ;
	background-size: cover ;
}
.tittle{
	margin-bottom: 40px;
	font-size: 60px;
	font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}
p, h2,{
	margin-bottom: 40px;
	font-size: 18px;
	color: #000;
}
.btn{
	display: inline-block;
	margin-top: 15 px;
	padding: 10px 40px;
	border: 2px solid #fff ;
	color:#000;
	text-decoration: none;
	background: #fff;
}
 
 .btn:hover {
 	background: #53908a;
 	cursor: pointer;
 }
 .btn-home{
 	display: flex;
 }
 .content{ /* hacer que los div se vean de forma centrada*/
 	height: 130vh;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
 }
 .sau{
 	padding: 30px;
 	background: #0f0f0f;
 }
 .box-container{
 	display: flex;
 	justify-content: left;
 	align-content: left;
 	flex-wrap: wrap;
 	text-align: center;
 	align-items: left;
 	width: 900;

 }
 .box-container .box{
 	height: 13rem;
 	width: 50rem;
 	background: #fff;
 	text-align: center;
 	border-radius: 1rem ;
 	box-shadow:  0.3rem 5rem rgba(0, 0, 0, 0,5);
 	margin: 2rem;
}
.box-container .box i{
	height: 3rem;
	width: 3rem;
	line-height: 3rem;
	text-align: center;
	border-radius: 50%;
	color:#000 ;
	background: #fff;
	font-size: 2rem;
	margin: 1rem 0rem;
}
.box-container .box h3{
    font-size: 28px;
    color: #000;
}
.about{
    background: #000;
}

img {
	max-width: 100%;
	height: auto;
}

/*aqi empieza el footer o pie de pagina color azul*/
.footer{
	position: relative;
	width: 100%;
	background:#286bc ;
	min-height: 100px;
	padding:20px ;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.social-icon{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 10px 5px;
	flex-wrap: wrap;
	list-style: none;
}

.icon-elem{
	list-style: none;
}

.icon{
	color: white;
	font-size: 32px;
	display: inline-block;
    margin: 0 10px;	
    transition: 0.5s;
}
.icon:hover{
	transform: translateY(-10px);
}

.menu{
	display: flex;
	justify-content: center;
	position: relative;
	align-items: center;
	margin: 10px 0;
	flex-wrap: wrap;
}

.menu-elem{
	list-style: none;
}

.menu-icon{
	color: white;
	font-size:20px ;
	display: inline-block;
	text-decoration: none;
	margin: 5px 10px;
	opacity: 0.5;
	transition: 0.3s;
}

.menu-icon:hover{
	opacity: 1;
}
 
.text{
	color: #fff;
	align-items: center;
	margin-top: 15px;
	margin-bottom:10px ;
	font-size: 20px;	
} 


a{
	color: #000000;
	text-decoration: none;
}



